<div class="customer-add-wrapper">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="this.form">
        <div class="row form-group">
          <div class="col-8">
            <label>Nome</label>
            <input
              id="name"
              formControlName="name"
              [autofocus]
              type="text"
              maxlength="100"
              class="form-control"
              placeholder="Higor Bueno"
            />
          </div>
          <div class="col-4">
            <label>Idade</label>
            <input
              id="age"
              formControlName="age"
              type="number"
              class="form-control"
              placeholder="23"
              min="0"
            />
          </div>
        </div>

        <div class="row form-group mt-3">
          <div class="col-8">
            <label>Email</label>
            <input
              id="email"
              formControlName="email"
              [autofocus]
              type="text"
              maxlength="100"
              class="form-control"
              placeholder="higor@bueno.com"
            />
          </div>
          <div class="col-4">
            <label>Número Acc.</label>
            <input
              id="accNumber"
              formControlName="accNumber"
              type="text"
              class="form-control"
              placeholder="00012-88"
              min="0"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted">
      <div class="d-flex align-items-start justify-content-end gap-2">
        <button
          type="button"
          class="btn btn-outline-secondary ml-1"
          (click)="this.cancel()"
          rippleEffect
        >
          <span class="font-size-10">CANCELAR</span>
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!this.form.valid"
          (click)="this.submit()"
          rippleEffect
        >
          <span class="font-size-10">CADASTRAR</span>
        </button>
      </div>
    </div>
  </div>
</div>
